.DS_Store
.idea/
.vscode/
*.iml
.work/
.dart_tool/
.flutter-plugins
.flutter
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
*.log
.env
.env.*
rerune.json
*.jks
*.keystore
**/key.properties
**/local.properties
**/flutter/ephemeral/
**/Flutter/ephemeral/
